// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$dark: #1F3338;
// $light: ;

body {
	font-family: 'Work Sans', sans-serif;
	a {
		text-decoration: none;
	}
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main-header {
	width: 100%;
	margin: 0 auto;
	padding: 1.5em 1em;
	.buttons {
		float: right;
		font-size: 1.3em;
		color: $dark;
		line-height: 4px;
		font-weight: 100;
		text-decoration: none;
		border: 2px solid $dark;
		border-radius: 5%;
		padding: .5em .8em;


		&:hover {
			color: white
		}
	}
}

#logo {
	float: left;
	p {
		display: inline-block;
		text-transform: uppercase;
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: -2px;
		margin-left: 2rem;
	}
	a {
		color: teal;
		&:hover {
			color: teal;
		}
	}


}

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

#posts{
	.post {
		margin-top: 1.3rem;
		padding-bottom: 1.2rem;
		border-bottom: 2px solid #d1d1d1;
	}

	.title {
		margin: 0;
		a {
			font-weight: 100;
			color: $dark;
			&:hover {
				color: teal;
			}			
		}
	}
	.date {
		margin-top: .25rem;
		color: #b2bac2;	
		font-size: .8em;
		font-weight: 250;
	}
}