// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark: #1F3338;
$light: #52A4AD;

body {
	font-family: 'Work Sans', sans-serif;
	a {
		text-decoration: none;
	}
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.header_wrapper {
	width: 100%;
	background: #FBFEFE;
	.main-header {
		width: 90%;
		margin: 0 auto;
		padding: 1.5em 1em;
	}
}
	.buttons {
		float: right;
		display: inline;
		margin-top: .625em;
		margin-right: .5em;
		p {
			a {
				font-size: 1em;
				line-height: 2px;
				font-weight: 100;
				text-decoration: none;
				border: 1.8px solid teal;
				border-radius: 3em;
				padding: .3em .6em;
				color: teal;
				margin: 0 .255rem;
				&:hover {
					color: white;
					background: teal;
				}
			}
		}
	}

#logo {
	float: left;
	p {
		display: inline-block;
		text-transform: uppercase;
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: -2px;
		margin-left: .5rem;
	}
	a {
		color: teal;
		&:hover {
			color: teal;
		}
	}


}

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

#posts{
	.post {
		margin-top: 1.3rem;
		padding-bottom: 1.2rem;
	}

	.title {
		margin: 0;
		a {
			font-weight: 100;
			color: $dark;
			&:hover {
				color: teal;
			}			
		}
	}
	.date {
		margin-top: .25rem;
		color: #6A8180;	
		font-size: .8em;
		font-weight: 250;
	}
	hr {
		width: 4rem;
		border: none;
		border-bottom: 3.5px solid #6BB8B4;
		margin: auto 0;
	}
}
hr {
	width: 90%;
	border: none;
	border-bottom: 1px solid $light;
	margin: 0 auto;
}

// ******* Post Show Page

